$border-radius: none;
$primary: #563d7c;
$info: #8468ac;
$modal-content-border-radius: none;

@import "node_modules/bootstrap/scss/bootstrap";

body {
  border: 1px solid $primary;
  -webkit-user-select: none;
  &.modal-open {
    padding: 0 !important;
  }
}


#wrapper {
  height: calc(100vh - 26px);
  overflow-x: hidden;
}

#page-content-wrapper {
  width: 100%;
  main {
    padding: 20px;
  }
}

#toolbar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  a {
    -webkit-app-region: no-drag;
  }
}

.loading-bullet {
  color: $primary;
}