$border-radius: none;
$primary: #563d7c;
$modal-content-border-radius: none;

@import 'node_modules/bootstrap/scss/bootstrap';

html, body, #root, #wrapper, #page-content-wrapper {
    min-height: 100vh;
    overflow-x: hidden;
    
}

#page-content-wrapper {
    width: 100%;
    main {
        padding: 20px;
    }
}